/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

/* Default styling above. Personal below */
body {
  color: #484848;
}

.navBarItem {
  text-decoration: none;
  font-weight: 400;
  color: #616162;
}

.navBarItem:hover {
  color: #e28530;
}

.pageHeader {
  text-align: center;
  margin: 24px 0;
  color: #484848;
}

.chartPageHeader {
  text-align: center;
  color: white;
  margin: 0;
  padding: 24px 0;
}

.chartPageContainer {
  backgroundColor: #acb4bd;
}

.yAxisLegend {
}

/* Don't show error overlay box in dev mode */
iframe
{
    display: none;
}

#bio-data {
  min-width: 300px;
  font-size: 18px;
}

#bio-data .label-col {
  max-width: 200px;
  font-weight: bold;
}

.MuiFormControl-root {
  margin: 0 16px 16px 0;
}

/* overriding bootstrap styling that messes up mui form labels */
.MuiFormControl-root legend {
  float: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.castPhoto{
  display: block;
  margin-left: 0;
  margin-right: auto;
  max-width:300px;
}
